.container {
  width: 1146px;
  height: 831px;
  margin: 0 auto;
}
.title {
  font-size: 36px;
  font-family: sans-serif;
}
.gallery {
  display: grid;
  gap: 30px;
  justify-content: center;
}
.item1 {
  grid-row: 1/3;
  width: 362px;
  height: 708px;
}
.item2 {
  grid-row: 1/2;
  width: 362px;
  height: 339px;
}
.item3 {
  grid-row: 1/2;
  width: 362px;
  height: 339px;
}
.item4 {
  grid-row: 2/3;
  width: 362px;
  height: 339px;
}
.item5 {
  grid-row: 2/3;
  width: 362px;
  height: 339px;
}
.container1 {
  text-align: center;
  width: 1146px;
  height: 392px;
  margin: 0  auto;
}
.title1 {
  font-family: sans-serif;
}
.speciality {
  display: flex;
}
.block {
  gap: 30px;
}
.title2 {
  margin-bottom: 144px;
  font-family: sans-serif;
}
.container2 {
  width: 1146px;
  height: 392px;
  margin: 0 auto;
}
.block1 {
  display: flex;
}
.item9 {
  margin-right: 130px;
}
.container3 {
  width: 1146px;
  height: 625px;
  margin: 0 auto;
}
.pon1 {
  display: flex;
}
.post-footer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* две равные колонки */
  align-items: center;
}
.read-more {
  justify-self: start; /* слева */
}

.post-date {
  justify-self: end; /* справа */
}